[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/shenoybr/hugo-goa.git
[submodule "robotomize.me/themes/hugo-goa"]
	path = robotomize.me/themes/hugo-goa
	url = https://github.com/shenoybr/hugo-goa.git
